.navbar .dropdown-menu .dropdown-toggle + .dropdown-menu {
  
  left: 100% !important; 
  top: -1px !important;   
}

.truncate-cell {
  max-width: 180px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-ancho-personalizado {
  max-width: 1400px !important; 
}